body
	{
		
		background: linear-gradient(#FFFFFF, #4F6D93);
		background-color: #4F6D93;
		background-repeat: no-repeat;
		color: #666666;
		font-family : Arial, Helvetica, sans-serif;
	}
dd, dt
	{
		padding-bottom: .5em;
	}
footer
	{
		background-color: #FFFFFF;
		font-family: Georgia, "Timse New Roman", serif;
		font-size: 75%;
		font-style: italic;
		padding: 20px 20px 20px 20px;
		
		text-align: center;
	}
form
	{
		background-color: #D8D8D8;
		box-shadow:2px 2px 2px black;
		border: 1px solid #3399CC;
		padding: 2px;
	}	
h1
	{
		font-family: Georgia, "Times New Roman", serif;
		margin-bottom: 0%;
		margin-top: 0%;
	}	
h2
	{
		color: #3399CC;
		font-family: Georgia, "Times New Roman", seriff;
		text-shadow: 1px 1px #CCCCCC;
	}
h3, dt
	{
		color: #000099;
		font-family: Georgia, "Times New Roman", seriff;
		font-weight: bold;
	}

header
	{
		background-color: #000033;
		
		background-image: url("Images/sunset.jpg");
		background-repeat: no-repeat;
		background-position: right;
		color: #FFFFFF;
		height: 60px;
		padding-top: 15px;
		text-align: center;
		
	}
label
	{
		display: inline-block;
		width: 140px;
		text-align:right;
	}	
main
	{
		background-color: #FFFFFF;
		margin-left: 190px;
		padding-top: 1px;
		padding-left: 30px;
		padding-right: 20px;
		padding-bottom: 20px;
		

	}	
nav
	{
		
		float: left;
		font-weight: bold;
		margin-top : 0%;
		padding-top: 0%;
		padding: 20px 20px;
		width: 160px;
		
	}
nav a
	{
		text-decoration: none;
	}
nav a:link
	{
		color: #000033;
	}
nav a:visited
	{
		color: #344873;
	}
nav a:hover
	{
		color: #FFFFFF;
	}	
nav ul
	{
		font-size: 1.2em;
		margin: 0px 0px;
		padding-left: 0px;
		list-style-type: none;
		
	}
main ul
	{
		list-style-image: url("Images/marker.gif");
	}
	
table, th, td
	{
		border: 2px solid #4F6D93;
		padding: 5px;
	}
table
	{
		border-collapse:collapse;
		margin-left: auto;
		margin-right: auto;
		padding: 0px;
	}	
th
	{
		background-color: #0b1189;
		text-align: center;
		font-weight: bold;
		color: #FFFFFF;
	}	
	
body tr:nth-child(odd)
	{
		background-color: #f2f2f2;
	}
tr td
	{
		text-align:center;
	}
tr td:nth-child(2)
	{
		text-align:left;
	}	

/*--Classes--*/
.Contact
	{
		font-weight:bold;
	}
.resort
	{
		color: #5C7FA3;
		font-weight: bold;
	}
	
/*--IDs--*/
#accommodations-image
	{
		background-image: url("Images/bungalow-main.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 300px;
		margin-left: 190px;
	}
#activities-image
	{
		background-image: url("Images/trail-main.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 300px;
		margin-left: 190px;
	}
#Comments
	{
		
	}
#contact
	{
		color: #5C7FA3;
		font-size: 90%;
		font-weight:bold;
	}
#main-image
	{
		background-image: url("Images/coast-main.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		
		height: 300px;
		margin-left: 190px;
		
	}
#numTel
	{
		display: inline;
	}
#numClick
	{
		display: none;
	}
#submit
	{
		background-color: #90C7E3;
		border: 0px;
		font-size: 14px;
		font-weight: bold;
		margin-left: 10%;
		padding: 9px 15px;
		width: auto;
	}	
#wrapper
	{
		
		background-color: #90C7E3;
		
		box-shadow: 3px 3px 3px 3px #333333;
		
		
		margin-left: 10%;
		min-width: 960px;
		max-width: 2048px;
		width: 80%;

	}
/*--Tablet--*/	
@media only screen and (max-width: 64em)
{
	body 
	{
		margin: 0;
		background-color: #FFFFFF;
	}
	main 
	{
		margin-left: 0;
	}
	nav 
	{
		float: none;
		width: auto;
		text-align: center;
		padding: .5em;
	}
	nav ul li 
	{
		display: inline;
		padding-top: 0.25em;
		padding-bottom: 0.25em;
		padding-left: 0.75em;
		padding-right: 0.75em;
	}
	#accommodations-image 
	{
		background-image: url(images/bungalow-main.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 200px;
		margin-left: 0px;
	}
	#activities-image 
	{
		background-image: url(images/trail-main.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 200px;
		margin-left: 0px;
	}
		#main-image 
	{
		background-image: url(images/coast-main.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 200px;
		margin-left: 0px;
	}
		#wrapper 
	{
		min-width: 0px;
		width: auto;
		box-shadow: none;
	}
}

@media only screen and (max-width: 37.5em)
{
	header 
	{
		padding: 1em;
	}
	input,label
		{
			display:block;
			text-align:left;
		}
	main 
	{
		padding-top: 0.1em;
		padding-bottom: 0.1em;
		padding-left: 1em;
		padding-right: 1em;
		font-size: 90%;
	}
	h1 
	{
		font-size: 1.5em;
	}
	nav ul li 
	{
		border-bottom: 2px solid;
		border-color: #330000;		
		display: block;
		margin: 0;	
	}
	nav ul li a
	{
		display: block;
		margin: 0px;
		padding: 0px;
	}
	table 
	{
		display: none;
	}
	#accommodations-image 
	{
		background-image: none;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 0px;
		margin-left:0px;
	}
	#activities-image 
	{
		background-image: none;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 0px;
		margin-left:0px;
	}
	#main-image 
	{
		background-image: none;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 0px;
		margin-left: 0px;
	}	
	#numTel
	{
		display: none;
	}
	#numClick
	{
		display: inline;
	}
}	